In [2]:
#checking python version
import sys
print(sys.version)

3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]

In [11]:
#python indentication (python uses identication to indicate a block of codes)
if 5 > 2:
     print("Five is greater than two!")
     print("Five is greater than me!")

Five is greater than two!
Five is greater than me!

In [17]:
# Variables (variables are created where you assign a value to it)
x = 5
y="Stanley Mugo Gicharu"
print (x)
print (y)

5
Stanley Mugo Gicharu

In [19]:
#Comments (Used for the purpose of in-code documnetation)
#Comments can be used to explain Python code.
#Comments can be used to make the code more readable.
#Comments can be used to prevent execution when testing code.
#every one have done this
print ("Hello world")

Hello world

In [20]:
#comments continuation
"""
multi line string (Triple quotes) can be used and place your coments inside
"""
print ('I love maths')

I love maths

In [28]:
#casting (This is specifing the data type of a variable)
x = str(3) #string
y = int(3) #integer
z= float(3) #decimal
print(x)
print(y)
print(z)
#get the type
print (type(x), type(y), type(z))

3
3
3.0
<class 'str'> <class 'int'> <class 'float'>

In [30]:
#strings can be declared either by using single or double quotes
#case sensitive
a = 5
A = 9
print(a, A) #A will note overwrite a

5 9

In [34]:
#multi value to multi variavles
x, y, z = "Oranges", "Mangos", "Cherry"
print(x)
print(y)
print(z)

Oranges
Mangos
Cherry

In [36]:
#one value to multiple variables
x = y = z = "Oranges"
print(x)
print(y)
print(z)

Oranges
Oranges
Oranges

In [38]:
#Unpacking (when having a collection of variables in a list, python allowa you to extract the values into variables)
fruits = ["Oranges", "Bananas", "Cherry"]
x, y, x = fruits
print(x)
print(y)
print(z)

Cherry
Bananas
Oranges

In [44]:
#outping many variabes (with a comma(,) or +)
x = "python "
y = "is "
z = "Owesome"
print(x, y, z)
print(x + y + z)
#For number + chararcter is used as a mathematical operater
x = 5
y = 8
print(x + y)

python  is  Owesome
python is Owesome
13

In [48]:
#Python Global variables
#Global varaiables are variables created outside of a function
# Global variables can be used inside of a function or outside
#Example of a global variable used inside of a function
x = "owesome"
def myfunc():
    print ("python is " + x)
    
myfunc()

python is owesome

In [1]:
# If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function.
#The global variable with the same name will remain as it was, global and with the original value.
x = "awesome" #global variable

def myfunc():
  x = "fantastic" #local variable
  print("Python is " + x)

myfunc()

print("Python is " + x)

#global key word (To use a global function inside a function we use the global key word)
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

#Also, use the global keyword if you want to change a global variable inside a function.
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome
Python is fantastic
Python is fantastic

In [2]:
#Python Data Types
#there are many inbult data type for variables
# Python the data type is set when you assign value to a variable
# When you want to assign a specific data type to a variable use the data type of the varaiable wile assaingong eg
x = int(3)
x

3

In [2]:
#python Numbers
# There are there numerics in python, int, float and complex
x = complex(5)
x

(5+0j)

In [2]:
import random
print(random.randrange(1,20))

11

In [3]:
import random

print(random.randrange(1, 10))

8